.dark-screen {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}